* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.toggle-button {
    position: fixed;
    bottom: 0px;
    margin: 0px 50%;
    width: 44px;
    height: 40px;
    padding: 4px 0px;
    transition: .5s ease-in-out;
    z-index: 15;
}

.menu-bar {
    background-color: whitesmoke;
    width: 50%;
    margin: 2px 0;
    padding: 1px;
    border-radius: 2px;
    transition: .25s;
  }

.dock {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 75px;
  margin: -75px auto;
  background-image: linear-gradient(180deg ,#0000009b, #43434394);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(79, 89, 100);
  position: fixed;
  bottom: 0;
  transition: .25s ease-out;
}

.dock-show {
  margin: 0;
}

.icon {
  background-color: transparent;
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
  bottom: 0px;
  margin: auto;
  transition: .25s;
}


.button-open {
    bottom: 25px;
    transition: .25s ease-out;
}

.button-open .menu-bar-top {
  transform: rotate(45deg) translate(5px, 6px);
}
.button-open .menu-bar-middle {
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg);
}


@media only screen and (min-width: 768px) {

  .toggle-button {
    margin: 0 49%; 
  }

}

@media only screen and (min-width: 1024px) {

  .toggle-button {
    margin: 0 49%; 
  }

}


  

 

  