body {
    background-color: black;
    height: 100vh;
}

.hero-body {
    margin: 60% auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid white; */
}

.widget {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid silver;
    border-radius: .75em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    margin: auto;
    padding: 2.5%;
    padding-top: 0px;
}

.widget-title {
    text-align: center;
    color: white;
    font-size: 50px;
}

.close-widget {
    position: relative;
    margin-top: 2%;
    margin-left: 93%;
    padding-top: 2px;
    width: 8%;
    height: 25px;
    text-align: center;
    border: 2px solid silver;
    border-radius: 25em;
    margin-bottom: 10px
}

.hide {
    display: none;
}

.show {
    display: block;
    /* margin: auto; */
}

.fas {
    color: white;
}

.fa-rocket:hover {
    color: orange !important;
}

/* clock widget and search */

.clock {
    padding-top: 25px;
    text-align: center;
    color: rgba(211, 211, 211, 0.924);
}

.clock-time {
    color: white;
    /* border: whitesmoke solid 2px; */
    /* width: 50%; */
    font-size: 70px;
    text-align: center;
}

.search-bar {
    /* border: 2px solid grey; */
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
}

.search-field {
    border: none;
    background: transparent;
    outline: none;
    text-align: center;
    color: white;
    border-bottom: .05em groove whitesmoke;
    width: 100%;
    margin: 10px 5px 0 0 ;
    font-size: 15px;
}

.fas {
    color: white;
}


/* settings widget */

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    font-size: 20px;
    padding: 7px;
    color: white;
    border: 2px solid silver;
    outline: none;
    border-radius: .35em;
    background-color: transparent;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 25px auto;
}

.user-name {
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: silver;
    width: 50%;
    height: 25px;
}

.dropdown:hover .option {
    display: block;
    opacity: 1;
}

.option {
    display: none;
    opacity: 0;
    color: white;
    outline: none;
}

.option:active {
    color: red;
    background-color: transparent;
}

.option:after {
    color: white;
}


/* to do widget */

.agenda {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    width: 70%
}

.agenda-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-wrapper {
    margin: 10px 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.input-field {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    color: white;
    border: none;
    border-bottom: .05em groove whitesmoke;  
    background-color: transparent;
    outline: none;
}

.input-item {
    color: white;
    margin: 0 auto;
}

.fa-times {
    font-size: 17px;
}




/* weather widget */

.weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 10px auto;
    padding: 0 6px;
    width: 50%;
}

.temp {
    color: white;
    font-size: 40px;
}

.weather i {
    font-size: 40px;
}

.HighLow {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;
    border: dotted 1px silver;
    border-radius: 25em;
    padding: 5px;
    color: white;
}

.Low {
    background: linear-gradient(to right, #004e92c0 70%, #003a6dc0 80%, black 100%);
    text-align: center;
    /* padding-right: 15px; */
    width: 50%;
    border-right: dotted 1px silver;
    border-top-left-radius: 25em;
    border-bottom-left-radius: 25em;
}

.High {
    background: linear-gradient(to left, #dd1818c9 75%, #770d0dbb 85%, black 100%);
    text-align: center;
    /* padding-right: 15px; */
    width: 50%;
    border-left: dotted 1px silver;
    border-top-right-radius: 25em;
    border-bottom-right-radius: 25em;
}